<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar referencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="body">
    <img class="icon" src="assets/icon/icono.jpg" alt="">
  <ion-item>
    <ion-label position="floating"> Titulo publicacion </ion-label>
    <ion-input type="text" name="tituloPublica"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Autores </ion-label>
    <ion-input type="text" name="autores"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Tipo publicacion </ion-label>
    <ion-input type="text" name="tipoPublica"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Nombre evento/ revista </ion-label>
    <ion-input type="text" name="nombreEvento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Doi </ion-label>
    <ion-input type="text" name="doi"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Año publicacion </ion-label>
    <ion-input type="text" name="anioPublica"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block">Editar referencia</ion-button>
</ion-content>
