<ion-header>
  <ion-toolbar color="primary" >
    <ion-title >Registrar referencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <img class="icon" src="assets/icon/icono.jpg" alt="">
<ion-item>
  <ion-label position="floating"> Id Referencia  </ion-label>
  <ion-input type="text" nam="idreferencia" [(ngModel)]="ref.idreferencia" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Titulo publicacion </ion-label>
  <ion-input type="text" name="tituloPublica" [(ngModel)]="ref.titulopub"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Autores </ion-label>
  <ion-input type="text" name="autores" [(ngModel)]="ref.autores"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Tipo publicacion </ion-label>
  <ion-input type="text" name="tipoPublica" [(ngModel)]="ref.tipopub"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Nombre evento/ revista </ion-label>
  <ion-input type="text" name="nombreEvento" [(ngModel)]="ref.eventorevista"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Doi </ion-label>
  <ion-input type="text" name="doi" [(ngModel)]="ref.doi"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Año publicacion </ion-label>
  <ion-input type="text" name="anioPublica" [(ngModel)]="ref.anyopub"></ion-input>
</ion-item>
<br>
<ion-button (click)="registrar()" expand="block">Registrar referencia</ion-button>

</ion-content>
